<div class="content">
    <div class="sidenav">
        <div class="sidenav-header">
            <h1>Friends</h1>
            <img src="/assets/icons/add-friend.svg" />
        </div>

        <div class="divider"></div>
    </div>
    <div class="rooms">
        <div class="rooms-header">
            <h1>Public Rooms</h1>
            <div class="divider"></div>
        </div>


        <div class="grid-container">

            <div class="rooms-grid">

                <div *ngFor="let item of [].constructor(16); let i = index" class="rooms-grid-item" (click)="enterRoom()">
                    <img src="https://via.placeholder.com/250x125" />
                    <div class="grid-item-footer" [style.background]="i % 2 == 0 ? '#FF8200': '#4EA699'">
                        <span class="room-name">Bobby's Room</span>
                        <div class="footer-users">
                            <img src="/assets/icons/user.svg" />
                            <span>{{i}}/20</span>
                        </div>

                    </div>
                </div>
            </div>


        </div>


        <div class="rooms-paginator">

        </div>

    </div>
</div>