.content {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
}

.rooms {
  background-color: #262626;
  width: 85%;
  height: 100%;
}

.sidenav {
  width: 300px;
  height: 100%;
  background-color: #48484b;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divider {
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.26);
  margin-left: 15px;
  margin-right: 15px;
}

.sidenav-header {
  margin-top: 15px;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;

  h1 {
    margin-left: 50px;
    flex: 1;
    margin-bottom: 0;
    color: white;
    vertical-align: middle;
  }

  img {
    flex: 0.1;
    padding-right: 25px;
    vertical-align: middle;
  }
}

.rooms-header {
  margin-top: 15px;
  color: white;
  margin-left: 150px;
  margin-right: 150px;

  h1 {
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.rooms-grid {
  height: 100%;
  display: grid;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.rooms-grid-item {
  height: 100%;
  width: 100%;

  img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.grid-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.grid-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer-users {
  display: flex;

  span {
    vertical-align: middle;
  }
}

@media only screen and (max-width: 1350px) {
  .rooms-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .rooms-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 920px) {
  .rooms-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 745px) {
  .sidenav {
    display: none;
  }

  .rooms {
    width: 100%;
    height: 100%;
  }
}
