<div class="header" #header [ngClass]="{'sticky': scroll >= 250 }">
  <span class="header-logo">Screen Hive</span>
  <span class="header-spacer"></span>
  <div class="header-nav-buttons">
    <app-dropdown (toggled)="onDropDown($event)" toggleText="About">
      <div class="dropdown-items">
        <a>What is Screen Hive?</a>
        <a>Blog</a>
      </div>
    </app-dropdown>
    <app-dropdown (toggled)="onDropDown($event)" toggleText="Community">
      <div class="dropdown-items">
        <a>Community Guidelines</a>
      </div>
    </app-dropdown>
    <app-dropdown (toggled)="onDropDown($event)" toggleText="Premium">
      <div class="dropdown-items">
        <a>Premium Features</a>
      </div>
    </app-dropdown>
    <button class="header-nav-open-app" routerLink="app">OPEN APP</button>
  </div>
  <div class="header-nav-menu">
    <mat-icon>menu</mat-icon>
  </div>
</div>
<div (scroll)="onScroll($event)" class="landing-page-content" #content>
  <div class="landing-page-content-heading">
    <img class="landing-page-devices" src="/assets/device.png">
    <section class="langing-page-info">
      <h1>Movie Nights Have Never Been Easier!</h1>
      <p>Watch movies, anime, and browse the internet with friends and more. All powered by a personal virtual browser!</p>
    </section>
  </div>
  <div class="landing-page-extra-info landing-page-card">
      <h1>What is Screen Hive?</h1>
      <p>Have you always wanted to watch videos and movies with your friends over the internet without using annoying methods like, telling everyone to hit play at the same time? Then Screen Hive is the service for you!</p>
      <p>Screen Hive is a system of virtual browsers running in the cloud, that provide near to realtime streaming of videos, movies, anime and general internet browsing to many users in a room. Each room can have up to 20 people watching at a time!</p>
  </div>
  <div class="landing-page-premium-info landing-page-card">
    <h1>Premium Features</h1>
    <div class="landing-page-premium-grid">
      <div class="premium-grid-item">
        <h3>Queue Skip</h3>
        <mat-icon>skip_next</mat-icon>
        <p>Instantly get access to a browser!</p>
      </div>
      <div class="premium-grid-item">
        <h3>Higher quality streams</h3>
        <img src="/assets/1080.png">
        <p>Get Access to 1080p+ Streams</p>
      </div>
      <div class="premium-grid-item">
        <h3>Custom Animated Emotes</h3>
        <img src="/assets/emote.gif">
        <p>Create Custom Animated Emotes!</p>
      </div>
      <div class="premium-grid-item">
        <h3>AD Free</h3>
        <img src="/assets/noads.png">
        <p>Watch Streams AD Free!</p>
      </div>

    </div>
</div>
</div>
<div class="landing-page-footer">
  <div class="footer-section-top">
    <div class="footer-section">
      <h2>About</h2>
      <div class="footer-section-list">
        <a>Blog</a>
        <a>What is Screen Hive?</a>
      </div>
    </div>
    <div class="footer-section">
      <h2>Community</h2>
      <div class="footer-section-list">
        <a>Community Guidelines</a>
      </div>
    </div>
    <div class="footer-section">
      <h2>Premium</h2>
      <div class="footer-section-list">
        <a>Premium Features</a>
      </div>
    </div>
  </div>
  <div class="footer-section-middle">
    <div class="footer-socials">

    </div>
  </div>
  <div class="footer-bottom">
    <span class="footer-copyright"><mat-icon>copyright</mat-icon> Byron Stearns {{currYear}}</span>
  </div>
</div>


