<ng-container *ngIf="isOpen">
    <div class="dialog-container">
        <div class="dialog">
            <div class="header">
                <h1>Enter Room Password</h1>
            </div>
            <div class="divider">
            </div>
            <div class="body">
                <input type="password" placeholder="Password" #password (change)="tryJoin($event.target.value)">
                <div class="errors" *ngIf="invalid">
                    <p>Invalid Password!</p>
                </div>
            </div>
            <div class="divider">
            </div>
            <div class="footer">
                <button (click)="tryJoin(password.value)">Join</button>
            </div>
        </div>
    </div>
</ng-container>
