<div class="content">
    <div class="login-box">
        <div class="logo-box shadow">
            <img src="/assets/logo.png">
        </div>
        <ng-container [ngSwitch]="mode">

            <div *ngSwitchCase="'register'" class="form">
                <h1>Register</h1>
            </div>

            <div *ngSwitchCase="'forgotPassword'" class="form">
                <h1>Forgot Password</h1>
            </div>


            <div *ngSwitchDefault class="form">
                <h1>Login</h1>
                <button class="login-form-google-button">Continue With Google</button>
                <div class="login-form-divider">
                    <span class="divider"></span>
                    <p>Or</p>
                    <span class="divider"></span>
                </div>
                <div class="form-input">
                    <div class="form-invalid" *ngIf="submitted && failed ">
                        <h3>Invalid Username or Password</h3>
                    </div>
                    <form [formGroup]="loginGroup" (ngSubmit)="onLogin()">
                        <label for="username">Username</label>
                        <input formControlName="username" type="text">
                        <div *ngIf="submitted && form.username.errors"></div>
                        <label for="password">Password</label>
                        <input formControlName="password" type="password">
                        <div *ngIf="submitted && form.password.errors"></div>
                        <button class="login-button">LOGIN</button>
                    </form>
                </div>

                <div class="login-form-options">
                    <a (click)="changeMode('register')">Register</a>
                    <a (click)="changeMode('forgotPassword')">Forgot Password?</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>