<div class="back-button-container">
    <button class="back-button" (click)="modeChange.emit('login')"><img src="assets/icons/back.svg" ></button>
</div>
<div class="form-header">
    <h1>Register</h1>
</div>

<div class="form-input">
    <form [formGroup]="registerGroup" (ngSubmit)="onRegister()" *ngIf="registerGroup.controls as form">

        <label for="username">Username</label>
        <input [ngClass]="{'form-input-invalid': submitted && form.username.errors}" formControlName="username" type="text">
        <div class="form-errors" *ngIf="submitted && form.username.errors">
            * Username is required!
        </div>

        <label for="email">Email</label>
        <input [ngClass]="{'form-input-invalid': submitted && form.email.errors}" formControlName="email" type="text">
        <div class="form-errors" *ngIf="submitted && form.email.errors">
            * Email is required!
        </div>

        <label for="password">Password</label>
        <input [ngClass]="{'form-input-invalid': submitted && form.password.errors}" formControlName="password" type="password">
        <div class="form-errors" *ngIf="submitted && form.password.errors as errors">

            <ng-container *ngIf="errors.required">
                * Password is Required!
            </ng-container>

            <ng-container *ngIf="errors.pattern">
                * Your password must be atleast 8 characters long, contain atleast 1 number, and contain atleast 1 special character (@$!%*#?&)
            </ng-container>

        </div>

        <label for="confirmPassword">Confirm Password</label>
        <input [ngClass]="{'form-input-invalid': submitted && form.confirmPassword.errors}" formControlName="confirmPassword" type="password">
        <div class="form-errors" *ngIf="submitted && form.confirmPassword.errors as errors">
            <ng-container *ngIf="errors.required">
                * Confirm Password is Required!
            </ng-container>
            <ng-container *ngIf="registerGroup.hasError('notSame') && !errors.required">
                * Passwords don't match!
            </ng-container>
        </div>

        <label for="dob">Date of Birth</label>
        <input [ngClass]="{'form-input-invalid': submitted && form.dob.errors}" formControlName="dob" placeholder="MM/DD/YYYY">
        <div class="form-errors" *ngIf="submitted && form.dob.errors as errors">
            <ng-container *ngIf="errors.required">
                * Date of Birth is Required!
            </ng-container>

            <ng-container *ngIf="errors.pattern">
                * Date needs to be in the format MM/DD/YYYY!
            </ng-container>

        </div>

        <div class="captcha">
            <ng-hcaptcha formControlName="captcha"></ng-hcaptcha>
        </div>

        <button>Register</button>
    </form>
</div>