<ng-container *ngIf="isOpen && user">
    <div class="dialog-container">
        <div class="dialog">
            <div class="profile-sidenav">
                <div class="sidenav-header">
                    <img src="https://via.placeholder.com/100">
                    <h2>{{user.username}}<span>#{{user.discriminator}}</span></h2>
                </div>
                <div class="divider"></div>
                <div class="sidenav-controls">
                    <ul>
                        <li (click)="section = Section.Account" [ngClass]="{'active': section === Section.Account}">
                            <img src="/assets/icons/account.svg" /> Account</li>
                        <li (click)="section = Section.Billing" [ngClass]="{'active': section === Section.Billing}">
                            <img src="/assets/icons/billing.svg" /> Billing</li>
                    </ul>
                </div>
            </div>
            <div class="profile-main">
                <div class="profile-main-header">
                    <img (click)="close()" src="/assets/icons/close.svg">
                    <ng-container [ngSwitch]="section">
                        <h2 *ngSwitchCase="Section.Account">Account</h2>
                        <h2 *ngSwitchCase="Section.Billing">Billing</h2>
                    </ng-container>

                </div>

                <ng-container [ngSwitch]="section">

                    <div *ngSwitchCase="Section.Account" class="account">

                        <div class="user-info">
                            <div class="user-info-section">
                                <label>Username</label>
                                <section class="username">
                                    <p>{{user.username}}</p>
                                    <button>Edit</button>
                                </section>
                            </div>


                            <div class="user-info-section">
                                <label>Email</label>
                                <section class="email">
                                    <p #emailText [revealed]="false">{{emailText.revealed ? user.email : censorEmail(user.email)}}</p>
                                    <span *ngIf="!emailText.revealed" (click)="emailText.revealed = true">Reveal</span>
                                    <span *ngIf="emailText.revealed" (click)="emailText.revealed = false">Hide</span>
                                    <button>Edit</button>
                                </section>
                            </div>


                            <div class="user-info-section">
                                <label>Date of Birth</label>
                                <section class="date-of-birth">
                                    <p>{{user.dob | date}}</p>
                                    <button>Edit</button>
                                </section>
                            </div>

                            <div class="user-info-section">
                                <label>Password</label>
                                <section class="password">
                                    <p>*********</p>
                                    <button>Edit</button>
                                </section>
                            </div>

                            <div class="user-info-section">
                                <label>Verified</label>
                                <section class="date-of-birth">
                                    <p>{{user.verified ? "Yes": "No"}}</p>
                                    <span *ngIf="!user.verified" >Resend Verification Email</span>
                                </section>
                            </div>
                        </div>

                        <div class="body-divider"></div>

                        <div class="two-factor-settings">
                            <h4>Two Factor Settings</h4>
                        </div>

                    </div>

                    <div *ngSwitchCase="Section.Billing" class="billing">

                    </div>


                </ng-container>
            </div>
        </div>
    </div>
</ng-container>


