<ng-container *ngIf="isOpen">
    <div class="dialog-container">
        <div class="dialog">
            <div class="profile-sidenav">
                <div class="sidenav-header">
                    <img src="https://via.placeholder.com/100">
                    <h2>{{user.username}}</h2>
                </div>
                <div class="divider"></div>
                <div class="sidenav-controls">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                </div>
            </div>
            <div class="profile-main">
                <ng-container>

                    <div class="account">

                    </div>
                    <div class="security">

                    </div>
                    <div class="privacy">

                    </div>




                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
