<div class="back-button-container">
    <button class="back-button" (click)="modeChange.emit('login')"><img src="assets/icons/back.svg" ></button>
</div>

<div class="form-header">
    <h1>Forgot Password</h1>
</div>

<div class="form-input">
    <form [formGroup]="forgotPasswordGroup" (ngSubmit)="onForgotPassword()">

        <label for="email">Email</label>
        <input formControlName="email" type="text">
        <div *ngIf="submitted && forgotPasswordGroup.controls.email.errors">
            * Email is required!
        </div>

        <button class="button">Confirm</button>

        
        <div *ngIf="submitted && !failed && !forgotPasswordGroup.controls.email.errors">
            <p>Check your email for instructions of how to reset your password!</p>
        </div>

    </form>
</div>