<div class="back-button-container">
    <button class="back-button" (click)="modeChange.emit('login')"><img src="assets/icons/back.svg" ></button>
</div>

<div class="form-header">
    <h1>Forgot Password</h1>
</div>



    <div class="form-input">
        <form [formGroup]="forgotPasswordGroup" (ngSubmit)="onForgotPassword()">
    
            <label for="email">Email</label>
            <input formControlName="email" type="text">
            <div class="errors" *ngIf="submitted && forgotPasswordGroup.controls.email.errors as errors ">
               
                <ng-container *ngIf="errors.required">
                    * Email is required!
                </ng-container>
    
                <ng-container *ngIf="errors.email">
                    * Not a Valid Email
                </ng-container>
    
            </div>
    
            <div class="captcha">
                <ng-hcaptcha formControlName="captcha"></ng-hcaptcha>
            </div>
    
            <div class="errors" *ngIf="submitted && forgotPasswordGroup.controls.captcha.errors as errors">
                <ng-container *ngIf="errors.required">
                    * Captcha is required!
                </ng-container>
            </div>
    
    
            <button class="button">Confirm</button>
    
    
            <div class="forgot-password-success" *ngIf="submitted && succeded">  
                <img src="/assets/icons/email.svg">
                <p>Check your email for instructions on how to reset your password!</p>
            </div>
    
        </form>
    </div>
