<div class="content">
    <div class="video">
        <div class="player">
            <div class="player-menu">
                <ul>
                    <li (click)="chatExpanded = !chatExpanded"><img src="/assets/icons/menu.svg" /></li>
                </ul>
            </div>
            <video (mousemove)="onMouseMove($event)" (mousedown)="onMouseDown()" autoplay loop muted [volume]="0"
                #player></video>
        </div>
        <div class="room-users" *ngIf="room">
            <ul class="user-list">
                <li class="self">
                    <img src="https://via.placeholder.com/75" />
                </li>
                <li class="user-list-divider"></li>
                <li *ngFor="let user of room.users">{{user}}</li>
            </ul>
        </div>
        <div class="video-controls">
            <img src="/assets/icons/remote.svg" class="remote-button icon" />
            <img src="/assets/icons/play.svg" *ngIf="player.paused" (click)="player.play()" class="play-button icon" />
            <img src="/assets/icons/pause.svg" *ngIf="!player.paused" (click)="player.pause()"
                class="pause-button icon" />
            <img src="/assets/icons/volume.svg" *ngIf="playerVolume >= 0.5 && !muted" (click)="mute()"
                class="volume-button icon" />
            <img src="/assets/icons/volume-down.svg" *ngIf="(playerVolume < 0.5 && playerVolume > 0) && !muted"
                (click)="mute()" class="volume-button icon" />
            <img src="/assets/icons/volume-mute.svg" *ngIf="playerVolume === 0 && !muted" (click)="mute()"
                class="volume-button icon" />
            <img src="/assets/icons/volume-off.svg" *ngIf="muted" (click)="unmute()" class="volume-button icon" />
            <input class="volume-slider" #volume type="range" min="0" max="1.0" step="0.01" [(ngModel)]="playerVolume"
                (ngModelChange)="onVolumeChange()">
        </div>
    </div>
    <aside class="chat" *ngIf="chatExpanded">
        <ul class="messages" *ngIf="room">
            <li *ngFor="let message of room.messages">
                <ng-container [ngSwitch]="message.type">

                    <div class="message-chat" *ngSwitchCase="MessageType.Chat">
                        <div class="avatar">
                            <img src="https://via.placeholder.com/50x50" />
                        </div>
                        <div class="messsage-content">
                            <div class="head">
                                <span>{{message.user}}</span>
                                <span>{{message.timestamp | date: 'MMM d, h:mm a'}}</span>
                            </div>
                            <div class="body">
                                <span>{{message.message}}</span>
                            </div>

                        </div>

                    </div>

                    <div class="message-event" *ngSwitchCase="MessageType.YouJoined">
                        <span>You Joined</span>
                    </div>

                    <div class="message-event" *ngSwitchCase="MessageType.UserJoined">
                        <span>{{message.message}}</span>
                    </div>

                </ng-container>

            </li>

        </ul>
        <div class="divider"></div>
        <div class="chat-controls">

            <div class="text-container">
                <textarea class="chat-input" placeholder="Send a message"
                    (keyup.enter)="sendChat($event.target)"></textarea>
            </div>
        </div>
    </aside>
</div>

<app-password-dialog #passwordDialog></app-password-dialog>