<div class="content">

  <div class="logo">
    <img src="/assets/header-logo.png" />
    <span>Screen</span>
    <span>Hive</span>
  </div>


  <div class="hamburger">
    <img src="/assets/icons/menu.svg" />
  </div>



  <div class="small-spacer"></div>

  <div class="search" *ngIf="showSearch()">
      <div class="search-bar">
        <img src="/assets/icons/search.svg" />
        <input type="search" placeholder="Search for rooms"/>
      </div>
    
  </div>

  <div class="spacer"></div>

  <div class="controls">
    <img class="messages" src="/assets/icons/messages.svg" />
    <img class="notifications" src="/assets/icons/notification.svg" />
    <img class="avatar" src="https://via.placeholder.com/35" />
  </div>



</div>
