<div class="content">


  <ng-container *ngIf="!small" #large>

    <div class="logo" (click)="home()">
      <img src="/assets/header-logo.png" />
      <span>Screen</span>
      <span>Hive</span>
    </div>

   
    <div class="small-spacer"></div>

    <div class="search" *ngIf="router.url.includes('/rooms')">
      <div class="search-bar">
        <img src="/assets/icons/search.svg" />
        <input type="search" (input)="headerService.searchSubject.next($event.target.value)" placeholder="Search for rooms" />
      </div>
    </div>

    <div class="spacer"></div>

    <div class="controls">
      <img (click)="isNotificationsOpen = !isNotificationsOpen;  isUserOpen = false" class="notifications"
        src="/assets/icons/notification.svg" />
      <img class="avatar" (click)="isUserOpen = !isUserOpen; isNotificationsOpen = false;"
        src="static/avatars/{{user.username}}/avatar-32.jpg" />
    </div>


    <div class="notifications-dropdown" *ngIf="isNotificationsOpen">
      <app-dropdown [width]="250">
        <div header>
          <h2>Notifications</h2>
        </div>
        <div body>
          <p>You have no new notifications</p>
        </div>
      </app-dropdown>
    </div>


    <div class="user-dropdown" *ngIf="isUserOpen">
      <app-dropdown [width]="150">
        <div header>
          <h2>{{user.username}}</h2>
          <span></span>
        </div>
        <div body>
          <ul class="list">
            <li (click)="profile.open()">Profile</li>
            <li>Help & Feedback</li>
            <li (click)="auth.logout()">Logout</li>
          </ul>
        </div>
      </app-dropdown>

    </div>


  </ng-container>

  <ng-container *ngIf="small" #small>

    <div class="header-top">
      <div class="logo" (click)="home()">
        <img src="/assets/header-logo.png" />
        <span>Screen</span>
        <span>Hive</span>
      </div>

      <div class="spacer"></div>

      <div class="hamburger" (click)="isHamburgerMenuOpen = !isHamburgerMenuOpen">
        <img src="/assets/icons/menu.svg" />
      </div>
    </div>

    <div class="header-bottom">
      <div class="search" *ngIf="router.url === '/rooms'">
        <div class="search-bar">
          <img src="/assets/icons/search.svg" />
          <input type="search" placeholder="Search for rooms" />
        </div>
      </div>
    </div>

  </ng-container>

  <div *ngIf="isHamburgerMenuOpen" class="hamburger-menu">
    <ul class="list">
      <li>Notifcations</li>
      <li>Profile</li>
      <li>Help & Feedback</li>
      <li>Logout</li>
    </ul>
  </div>



</div>



<app-profile-dialog #profile></app-profile-dialog>