.content {
  background-color: #48484b;
  padding: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.spacer {
  flex: 1;
}

.small-spacer {
  flex: 0.12;
}

.logo {
  cursor: pointer;
  img {
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
    font-size: 32px;
  }

  :nth-child(2) {
    margin-left: 7px;
    color: #ff8200;
  }

  :last-child {
    color: #4ea699;
  }
}

.search {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  background-color: rgba($color: #262626, $alpha: 0.53);
  padding: 5px;
  border-radius: 5px;

  input {
    width: calc(100% - 24px);
    font-size: 16px;
    user-select: none;
    outline-width: 0;
    border: none;
    color: white;
    caret-color: white;
    background-color: transparent;
  }

  img {
    vertical-align: middle;
  }
}


.list{

  color: white;

    margin: 0;
    list-style: none;
    padding: 0;
    li{
      margin: -9px;
      padding: 10px;
      cursor: pointer;
    }


    li:hover{
      background-color: #606064;
    }

}


.user-dropdown{
  position: absolute;
  top: 65px;
  right: 175px;
  color: white;
  background-color: #48484b;

  ul{
    margin: 0;
    list-style: none;
    padding: 0;
    li{
      margin: -9px;
      padding: 10px;
      cursor: pointer;
    }


    li:hover{
      background-color: #606064;
    }

  }


}

.header-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-bottom{
  width: 100%;
}



.messages-dropdown {
  position: absolute;
  top: 65px;
  right: 405px;
  p {
    margin: 0;
  }
}

.notifications-dropdown {
  position: absolute;
  top: 65px;
  right: 340px;
  p {
    margin: 0;
  }
}

.controls {
  img {
    cursor: pointer;
    vertical-align: middle;
    margin-right: 15px;
  }

  :nth-child(-n + 2) {
    margin-right: 30px;
    padding: 5px;
    transition: 0.2s;
  }

  :nth-child(-n + 2):hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 25%;
  }

  .avatar {
    border-radius: 50%;
  }
}

.hamburger-menu{
  width: 100%;
  position: absolute;
  top: 103px;
  z-index: 99;
  background-color: #48484b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 155px
}

.hamburger {
  display: none;
  margin-right: 15px;
  img{
    vertical-align: middle;
    height: 32px;
  }

  img:hover{
    background-color: rgba($color: white, $alpha: 0.1);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 745px) {
  .controls {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .search-bar {
    width: 96%;
    padding: 5px;
    margin: 5px;
  }

  .spacer {
    display: none;
  }

  .small-spacer{
    display: none;
  }

  .hamburger {
    display: block;
  }
}