<div class="content">

  <div class="logo" (click)="home()">
    <img src="/assets/header-logo.png" />
    <span>Screen</span>
    <span>Hive</span>
  </div>


  <div class="hamburger">
    <img src="/assets/icons/menu.svg" />
  </div>


  <div class="small-spacer"></div>

  <div class="search" *ngIf="showSearch()">
      <div class="search-bar">
        <img src="/assets/icons/search.svg" />
        <input type="search" placeholder="Search for rooms"/>
      </div>
    
  </div>

  <div class="spacer"></div>

  <div class="controls">
    <img (click)="isMessagesOpen = !isMessagesOpen; isNotificationsOpen = false" class="messages" src="/assets/icons/messages.svg" />
    <img (click)="isNotificationsOpen = !isNotificationsOpen; isMessagesOpen = false" class="notifications" src="/assets/icons/notification.svg" />
    <img class="avatar" src="https://via.placeholder.com/35" />
  </div>

  <div class="messages-dropdown" *ngIf="isMessagesOpen">
    <app-dropdown>
      <div header>
        <h2>Messages</h2>
      </div>
      <div body>
        <p>You have no new messages</p>
      </div>
    </app-dropdown>
  </div>

  <div class="notifications-dropdown" *ngIf="isNotificationsOpen">
    <app-dropdown>
      <div header>
        <h2>Notifications</h2>
      </div>
      <div body>
        <p>You have no new notifications</p>
      </div>
    </app-dropdown>
  </div>

  



</div>
